@charset "UTF-8";
/* Цвет фона*/
/* Цвет шрифтов */
/* Шрифты */
body {
  background-color: #FFFFFF;
  color: #757575;
  font-family: "Roboto", sans-serif;
}
body.modal-open {
  overflow: hidden;
}

.list, h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

.list {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.icon {
  fill: currentColor;
  transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icon:hover, .icon:focus {
  fill: currentColor;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.btn {
  height: 50px;
  border-radius: 4px;
  background-color: #2196F3;
  color: #FFFFFF;
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-decoration: none;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover, .btn:focus {
  background-color: #188CE8;
}

.section__title {
  margin-bottom: 50px;
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 36px;
    line-height: 1.17;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #ECECEC;
  background-color: #FFFFFF;
  z-index: 100;
}

/* Навигация по сайту */
.menu__container {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 400px;
}
.menu__container.is-open {
  display: block;
}

.menu__button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu__button .menu__icon-cross {
  display: none;
}

.menu__button.is-open .menu__icon-cross {
  display: block;
}

.menu__button.is-open .menu__icon-menu {
  display: none;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo--color-dark {
  color: #000000;
}
.logo--color-light {
  color: #FFFFFF;
  margin-bottom: 20px;
}
.logo--accent {
  color: #2196F3;
}

/* Навигация по сайту */
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contacts {
  display: flex;
  margin-left: auto;
}
.contacts__item + .contacts__item {
  margin-left: 50px;
}
.contacts__link {
  color: #757575;
  display: flex;
  padding: 12px 0;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.contacts__link:hover, .contacts__link:focus {
  color: #2196F3;
}
.contacts__icon {
  margin-right: 10px;
  display: flex;
  fill: currentColor;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__icon:hover, .contacts__icon:focus {
  fill: currentColor;
}

.filter__list {
  display: flex;
  flex-wrap: -4px;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .filter__list {
    justify-content: center;
  }
}

.filter__list .item {
  margin: 4px;
}

.filter__button {
  padding: 6px 22px;
  border-radius: 4px;
  background-color: #F5F4FA;
  color: #212121;
  border-color: transparent;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
.filter__button:hover, .filter__button:focus {
  background-color: #2196F3;
  color: #FFFFFF;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.product__list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.product__item {
  margin: 15px;
  width: 100%;
  max-width: 450px;
}
@media screen and (min-width: 768px) {
  .product__item {
    flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 120px) {
  .product__item {
    flex-basis: calc((100% - 90px) / 3);
  }
}

.product__link {
  display: block;
  text-decoration: none;
  color: inherit;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.product__link:hover, .product__link:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.product__thumb {
  position: relative;
  overflow: hidden;
  display: block;
}

.product__discription {
  position: absolute;
  padding: 63px 24px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  color: #FFFFFF;
  font-family: Roboto;
  font-style: Regular;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  transform: translateY(101%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.product__link:hover .product__discription, .product__link:focus .product__discription {
  transform: translateY(0);
}

.product__card {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
}

.product__title {
  margin-bottom: 4px;
  color: #212121;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.product__text {
  margin-bottom: auto;
  color: #757575;
  font-size: 16px;
  line-height: 1.88;
}

.footer {
  background-color: #2F303A;
  padding: 60px 0;
}
.footer__logo {
  margin-bottom: 20px;
}
.footer__title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
.footer__soc {
  margin-top: 12px;
}
.footer__subscription {
  margin-top: 12px;
}

.socials {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.socials__item + .socials__item {
  margin-left: 10px;
}
.socials--position-center {
  padding: 0;
  align-items: center;
  justify-content: center;
}

.socials--color-dark .icon {
  fill: #FFFFFF;
}

.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
}
.socials--color-light .socials__link {
  color: #AFB1B8;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.socials--color-dark .socials__link {
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link:hover, .socials__link:focus {
  color: #FFFFFF;
  background-color: #2196F3;
}

.address-list {
  width: 231px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
.address-list__item {
  margin-left: auto;
}
.address-list__item:not(:last-child) {
  margin-bottom: 9px;
}
.address-list__link {
  color: var(--primary-link-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
}
.address-list__link--accent {
  color: #FFFFFF;
  text-decoration: none;
}
.address-list__link:hover, .address-list__link:focus {
  color: #2196F3;
}

.subscription-form__input {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  transition-property: border-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.subscription-form__input:focus {
  border-color: #2196F3;
}

.subscription-form__button {
  margin-left: 12px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px 28px;
  min-width: 200px;
}

.button__icon--position-right {
  margin-left: 10px;
}/*# sourceMappingURL=portfolio.css.map */