.btn {
    height: 50px;
    border-radius: 4px;
    background-color: $accent-color;
    color: $secondary-text-color;
    border-color: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    @include font(700, 16px, 1.87, 0.06em);
    text-decoration: none;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
    background-color: $button-hover-color;  
    }
}