body {
    background-color: $primary-bg-color;
    color: $primary-text-color;

    font-family: $font;
    letter-spacing: 0.03em;
}

.list, h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}

.list {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.icon {
    fill: currentColor;
    transition-property: fill, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
        fill: currentColor;
    }
}