.footer {
    background-color: $accent-bg-color;
    text-align: center;
    

    &-container {
        padding: 60px 0;
        @media screen  and (max-width:1199px) {
            display: block;
            justify-content: center;
        }

        @media screen and (min-width: 1200px) {
            display: flex;
            justify-content: space-between;
        }
    }

    &__wrap {
        @media screen and (max-width:767px) {
            margin-bottom: 60px;
            // display: flex;
            justify-content: center;
            .header__address {
                margin-bottom: 60px;
            }
        }

        @media screen and (min-width: 768px) {
            display: flex;
            justify-content: space-around;
        }

        @media screen and (min-width: 768px) {
            display: flex;
            justify-content: space-between;
      
        //   padding-left: 61px;
        //   padding-right: 74px;
        }


    &__logo {
        display: flex;
        text-align: center;
        // justify-content: center;
        // display: block;
        margin-bottom: 20px;
        margin: 0 auto;
    }

    &__title {
        margin-bottom: 20px;
        @include font(null, 14px, 1.14, 0.03em);
        color: $secondary-text-color;
    }

    &__soc {
        // margin-left: 70px;
        margin-top: 12px;

        @media screen and (min-width: 768px) {
            margin-left: 70px;
          }
    }

    &__subscription {

        margin-top: 12px;
        
        // margin-left: 93px;
    }
}