.footer {
    background-color: $accent-bg-color;
    padding: 60px 0;
    

    &-container {
        @media screen and (min-width: 1200px) {
            display: flex;
            justify-content: space-between;
        }
    }

    &__wrap {
        @media screen and (min-width: 768px) and (max-width: 1199px) {
          justify-content: space-between;
      
        //   padding-left: 61px;
        //   padding-right: 74px;
        }
      
        @media screen and (min-width: 768px) {
          display: flex;
        }
      }

    &__logo {
        display: flex;
        // display: block;
        margin-bottom: 20px;
    }

    &__title {
        margin-bottom: 20px;
        @include font(null, 14px, 1.14, 0.03em);
        color: $secondary-text-color;
    }

    &__soc {
        // margin-left: 70px;
        margin-top: 12px;

        @media screen and (min-width: 768px) {
            margin-left: 70px;
          }
    }

    &__subscription {
        margin-top: 12px;
        // margin-left: 93px;
    }
}