header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #ECECEC;
    background-color: $primary-bg-color;
    z-index: 100;
}

.header-container {
    display: flex;
    align-items: center;   
}

