header {
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #ECECEC;
    background-color: $primary-bg-color;
    z-index: 100;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;  

    @media screen and (min-width: 768px) {
        align-items: center;
        height: 80px;
    }
}

.header__menu {
    @media screen and (min-width: 768px) {
        margin-left: 88px;
    }

    @media screen and (min-width: 1200px) {
        margin-left: 93px;
    }
}

// .header__contacts {
//     @media screen and (max-width: 767px) {
//         margin-bottom: 64px;
//         margin-top: auto;
//     }
// }

@media screen and (max-width: 767px) {
    .header__contacts {
        margin-top: auto;
        margin-bottom: 64px;
    }
}
