.product__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

.product__item {
    flex-basis: calc((100% - 90px) / 3);
    margin: 15px;
}

.product__link {
    display: block;
    text-decoration: none;
    color: inherit;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16),
                    0px 4px 4px rgba(0, 0, 0, 0.06),
                    0px 1px 1px rgba(0, 0, 0, 0.12);
    }
}

.product__thumb {
    position: relative;
    overflow: hidden;
    display: block;
}

.product__discription {
    position: absolute;
    padding: 63px 24px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    color: $secondary-text-color;
    font-family: Roboto;
    font-style: Regular;
    @include font(null, 18px, 1.55, 0.03em);
    transform: translateY(101%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    .product__link:hover &,
    .product__link:focus & {
        transform: translateY(0);
    }
}

.product__card {
    padding: 20px 24px;
    border: 1px solid $border-color;
}

.product__title {
    margin-bottom: 4px;
    color: $title-text-color;
    @include font(null, 18px, 2, 0.06em);
}

.product__text {
    color: $primary-text-color;
    @include font(null, 16px, 1.88, null);
}
