.subscription-form {
    display: flex;
    justify-content:space-between;

    &__input {
        display: flex;
        align-items: center;
        width: 358px;
        height: 50px;
        padding: 15px 16px;
        color: rgba(255, 255, 255, 0.6);
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 4px;
        outline: transparent;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        @include font(400, 16px, 1.25, 0.03em);
    
        transition-property: border-color, color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        &:focus {
            border-color: $accent-color;
        }
    }
}


.subscription-form__button {
    margin-left: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px 28px;
    min-width: 200px;
}

.button__icon--position-right {
    margin-left: 10px;
}
