.work {
    padding-top: 0;
}

.work-list {
    display: flex;
    flex-wrap: wrap;

    &__item {
        position: relative;

        & + & {
            margin-left: 30px;
        }
    }

    &__thumb {
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 70px;
        background-color: rgba(47, 48, 58, 0.8);
    }

    &__title {
        text-transform: uppercase;
        color: $secondary-text-color;
        font-family: Roboto;
        @include font(700, 14px, 1.14, 0.03em);
    }
}